<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="AvalCreditCard" type="System.Configuration.DictionarySectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="AvalDebitCard" type="System.Configuration.DictionarySectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<AvalCreditCard>
		<add key="Pattern" value="0843739900" />
		<add key="ObjectId" value="AvalCreditCard" />
		<add key="Description" value="Кредитна картка 'Прозора'" />
	</AvalCreditCard>
	<AvalDebitCard>
		<add key="Pattern" value="0668371600" />
		<add key="ObjectId" value="AvalDebitCard" />
		<add key="Description" value="Пакет 'Оптимальний плюс'" />
	</AvalDebitCard>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
</configuration>