<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="AvalCreditCard" type="System.Configuration.DictionarySectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="AvalDebitCard" type="System.Configuration.DictionarySectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="MilleniumAccount" type="System.Configuration.DictionarySectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="MilleniumCard" type="System.Configuration.DictionarySectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<AvalCreditCard>
		<add key="Pattern" value="0843739900" />
		<add key="ObjectId" value="AvalCreditCard" />
		<add key="Description" value="Кредитна картка 'Прозора'" />
	</AvalCreditCard>
	<AvalDebitCard>
		<add key="Pattern" value="0668371600" />
		<add key="ObjectId" value="AvalDebitCard" />
		<add key="Description" value="Пакет 'Оптимальний плюс'" />
	</AvalDebitCard>
	<MilleniumAccount>
		<add key="Pattern" value="42116022020000000332191098 " />
		<add key="ObjectId" value="MilleniumCard" />
		<add key="Description" value="MilleniumAccount" />
	</MilleniumAccount>
	<MilleniumCard>
		<add key="Pattern" value="4874XXXXXXXX5736" />
		<add key="ObjectId" value="MilleniumCard" />
		<add key="Description" value="MilleniumAccount" />
	</MilleniumCard>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		<dependentAssembly>
			<assemblyIdentity name="FluentAssertions.Core" publicKeyToken="33f2691a05b67b6a" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.19.2.0" newVersion="4.19.2.0" />
		</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>